* {
    box-sizing: border-box;
}

@font-face {
    font-family:"Pixel NES";
    src: url("assets/font/Pixel_NES.eot?") format("eot"),url("assets/fontPixel_NES.woff") format("woff"),url("assets/font/Pixel_NES.ttf") format("truetype"),url("assets/font/Pixel_NES.svg") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: tahomaFont;
    src: url("assets/font/TAHOMA_0.TTF") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("assets/font/IBMPlexMono-SemiBold.ttf");
}

body {
    position: relative;
    background-image: url("assets/bg.webp");
    background-color: black;
    font-family: "tahomaFont";
    font-size: 12px;
    color:white;
    line-height: 16px;
}

.title-text {
    font-family: "Pixel NES";
    color:aquamarine;
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    vertical-align: top;
    width: 100%;
}

#main {
    grid-column: 2;
    grid-row: 1;
    width: 700px;
}

#about-menu{
    grid-column: 1;
    grid-row: 1;
}

#vault-menu {
    grid-column: 3;
    grid-row: 1;
}

.side-menu {
    width: 350px;
}

#input {
    margin-right: 0;
}

@media (max-width: 1366px) and (min-width: 1081px) {
    #main {
        grid-column: 1;
        grid-row: 1;
        margin: auto;
        max-width: 50vw;
        width: 50vw;
    }

    #about-menu{
        grid-column: 2;
        grid-row: 2;
        margin: auto;
    }

    #vault-menu {
        grid-column: 2;
        grid-row: 1;
        margin: auto;
    }

    .side-menu {
        width: 20vw;
    }
}

@media (max-width: 1080px) {
    #main {
        grid-column: 1;
        grid-row: 1;
        margin: auto;
        max-width: 80vw;
        min-width: 350px;
    }

    #about-menu{
        grid-column: 1;
        grid-row: 3;
        margin: auto;
    }

    #vault-menu {
        grid-column: 1;
        grid-row: 2;
        margin: auto;
    }

    .side-menu {
        width: 350px;
    }
}

.aqua {
    color: aquamarine;
}

.errortext {
    color: red;
}

.correcttext {
    color: rgb(0, 255, 0);
}

.box {
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(120, 120, 120);
    border-radius:10px;
    border-width: 4px;
    border-style: double;
    border-spacing: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

#main-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#main-input fieldset {
    display: inline;
    border: 0;
}

#status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-status {
    display:  none;
}

#save {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

#logo {
    display:block;
    margin: 3em auto;
    margin-top: 2em;
    width:300px; 
}

#splash-text {
    width: 100%;
    text-align: center;
    margin-top: -1vh;
}

#pfp {
    max-width:75px;
    float:inline-start;
    margin-right: 5px;
    border: 1px solid darkcyan;
    padding: 5px;
    border-radius: 5px;
}

#user-data {
    text-align: left;
    width: 280px;
    background-color:rgba(0, 0, 0, 0.3)
}

#user-data tr:nth-child(even) {
    background-color:rgba(50, 50, 50, 0.3)
}

.inline {
    display: inline;
}

.start-button{
    height: 2.5em;
    border: 1px solid gray;
}

.start-button:hover {
    border-color: aquamarine;
}

.start-button:active {
    filter: invert(100%)
}

#output {
    font-family: "IBM Plex Mono";
    font-size: x-small;
    letter-spacing: -0.5px;
    line-height: 10px;
    text-align: center;
    margin-top: 1em;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    white-space: pre;
    overflow-x: scroll;
    overflow-wrap: normal;
    resize: none;
}

.updated {
    font-size: 10px;
    top: 0;
    left: 0;
}

.vault-email {
    width: 75%;
}

#unlock {
    margin-bottom: -0.2em;
    width: 100px;
    border-width: 1px;
    border-color:rgb(120, 120, 120);
}

#unlock:hover {
    border-color: aquamarine;
}

#unlock:active {
    filter: invert(100%);
}

#vault-data {
    max-width: 100%;
    width: 100%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1em;
}

table.alternating tr:nth-child(odd)  {
    background-color: rgba(50, 50, 50, 0.6);
}

table.alternating thead tr {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

table#vault-data td {
    height: 1em;
}

table#vault-data td:first-child{
    width: 65%;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table#vault-data td:nth-child(2) {
    width: 35%;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

label[for="row-select"] {
    margin-right: 1em;
}