@font-face {font-family:"Pixel NES";src:url("assets/font/Pixel_NES.eot?") format("eot"),url("assets/fontPixel_NES.woff") format("woff"),url("assets/font/Pixel_NES.ttf") format("truetype"),url("assets/font/Pixel_NES.svg") format("svg");font-weight:normal;font-style:normal;}
* {
    box-sizing: border-box;
}

body {
    background-image: url("assets/bg.webp");
    background-color: black;
    font-family: 'Tahoma';
    font-size: 12px;
    color:white;
    line-height: 16px;
}

.title-text {
    font-family: "Pixel NES";
    color:aquamarine;
    text-align: center;
}

#container {
    margin-left:auto;
    margin-right:auto;
}

#container tr {
    vertical-align: top;
}

.side-menu {
    max-width: 300px;
}

.aqua {
    color: aquamarine;
}

.errortext {
    color: red;
}

.correcttext {
    color: rgb(0, 255, 0);
}

.box {
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(120, 120, 120);
    border-radius:10px;
    border-width: 4px;
    border-style: double;
    border-spacing: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

#main-status {
    display:  none;
}

#save {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

#main-input {
    display: flex;
    align-items: center;
}

#logo {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:300px; 
}

#pfp {
    max-width:75px;
    float:inline-start;
    margin-right: 5px;
    border: 1px solid darkcyan;
    padding: 5px;
    border-radius: 5px;
}

#user-data {
    text-align: left;
    width: 280px;
    background-color:rgba(0, 0, 0, 0.3)
}

#user-data tr:nth-child(even) {
    background-color:rgba(50, 50, 50, 0.3)
}

.inline {
    display: inline;
}

fieldset[class~="input-type"] {
    display: inline-flex;
    width: 25%;
    justify-content: space-between;
}

.start-button, .start-button img {
    width: 24%;
    margin-top: 0.5em;
    border: 1px solid gray;
}

.start-button:hover {
    border-color: aquamarine;
}

.start-button:active {
    filter: invert(100%)
}

#output {
    font-size: x-small;
    margin-top: 1em;
    width: 98.5%;
    max-width: 98.5%;
    min-width: 98.5%;
    resize: none;
}

.updated {
    font-size: 10px;
    top: 0;
    left: 0;
}

.vault-email {
    width: 75%;
}

#unlock {
    width: 25%;
}

#vault-data {
    width: 100%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1em;
}

table.alternating tr:nth-child(odd)  {
    background-color: rgba(50, 50, 50, 0.6);
}

table.alternating thead tr {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

table#vault-data td {
    height: 1em;
}

label[for="row-select"] {
    margin-right: 1em;
}